@import url('https://fonts.googleapis.com/css?family=Cabin|Niramit|Poppins|Varela Round|Yantramanav');


.container-products{
  width: 100%;
  margin-top: 100px;
}

.wrapper-col{
  width: 90%;
  margin: 0 auto;
}

.wrapper-col .col-right, .col-left{
  float: left;
}

.filters{
  width: 19%;
  border: 1px solid rgb(180,210,230);
  margin-right: 2%;
}

.block-title{
	width: 100%;
  padding: 5px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(10,94,184);
}

.price{
	width: 100%;
	margin: 0;
  margin-bottom: 15px;
	padding: 0 20px;
	padding-top: 10px;
	font-size: 17px;
	font-weight: 900px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.list-odd{
  width: 100%;
  padding: 3px;
	font-size: 16px;
	background-color: rgb(44,170,226);
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-weight: normal;
	color: #fff;
}

.wrapper-odd{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px;
  height: auto;
  overflow: hidden;
}

.wrapper-odd .list-tallas, .list-colors{
	margin: 0;
  padding: 0;
}

.list-tallas .item-t, .list-colors .item-c{
  width: 25%;
  float: left;
  margin-bottom: 10px;
  list-style: none;
}

.list-tallas .item-t .talla, .list-colors .item-c .color{
  display: block;
  width: 90%;
  height: 48px;
  padding-top: 14px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(210,210,210);
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  transition: 0.4s ease;
}

.list-tallas .item-t:hover .talla, .list-colors .item-c:hover .color{
  background-color: rgb(5,130,200);
  color: #fff;
}

.list-acabado, .list-marcas{
	width: 100%;
  margin: 0;
  padding: 0;
}

.list-acabado .item-a, .list-marcas .item-m{
	list-style-type: none;
}

.list-acabado .item-a .acabado, .list-marcas .item-m .marca{
	display: block;
	padding-bottom: 5px;
	color: #000;
	text-decoration: none;
	transition: all .3s;
	cursor: pointer;
}

.ui-slider{
    position: relative;
    z-index: 5;
}
/*Para definir el color de fondo del rango seleccionado*/

.ui-slider .ui-slider-range{
    background-color: rgb(190,200,200);
}

.ui-slider .ui-slider-handle{
    width: 19px;
    height: 19px;
    margin-top: 1px;
    outline: none;
}

/*Para definir el estilo del botón de desplazamiento*/
.ui-slider .ui-slider-handle:hover{
    cursor: pointer;
    background-color: rgb(248,152,29);
    border: 1px solid rgb(248,152,29);
}

.ui-slider-handle:active {
    background-color: #fff;
}

.filter-box{
  width: 50%;
  padding: 2px 20px;
  color: #fff;
  font-size: 22px;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(10,94,184);
  display: none;
  cursor: pointer;
  border-radius: 5px;
}

.products{
  width: 79%;
  padding: 0 15px;
  padding-bottom: 30px;
  border: 1px solid rgba(210,210,210);
}

.content-prod{
  margin: 0;
  padding: 0;
}

.item-prod{
  width: 25%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  float: left;
  list-style: none;
}

.img-prod img{
  display: block;
  width: 90%;
  height: 30vh;
  margin: 0 auto;
}

.name-shoe{
  width: 100%;
  height: 45px;
  text-align: center;
  padding: 15px 5px;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	color: rgb(0,5,0);
	font-weight: 600;
}

.price-shoe{
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-family: 'Basic', sans-serif;
	color: rgb(215,125,0);
	font-weight: 600;
}

.ide-shoe{
  width: 100%;
  margin-top: 10px;
}

.ide-shoe a{
  display: block;
  width: 75%;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: 'Basic', sans-serif;
  text-decoration: none;
  border-radius: 5px;
  background: rgb(10,45,210);
}

@media screen and (max-width: 1199.98px) {
  .container-products{
    margin-top: 81px;
  }
  .wrapper-col{
    width: 95%;
  }
  .name-shoe{
    padding: 10px;
  	font-size: 13px;
  }
}

@media screen and (max-width: 991.98px) {
  .container-products{
    margin-top: 81px;
  }
  .wrapper-col{
    width: 95%;
  }
  .name-shoe{
    padding: 10px;
  	font-size: 13px;
  }
  .list-tallas .item-t .talla, .list-colors .item-c .color{
    width: 95%;
    height: 38px;
    padding-top: 8px;
  }
}

@media screen and (max-width: 767.98px) {
  .container-products{
    margin-top: 76px;
  }
  .wrapper-col{
    width: 95%;
  }
  .filters{
    position: absolute;
    width: 95%;
    background: #fff;
    border: 1px solid rgb(180,210,230);
    display: none;
  }
  .filter-box{
    display: block;
  }
  .toggle-box{
    display: block;
  }
  .products{
    width: 100%;
    margin-top: 15px;
  }
  .img-prod img{
    width: 90%;
    height: 35vh;
  }
  .name-shoe{
    width: 100%;
  	font-size: 13px;
  }
  .price-shoe{
  	font-size: 19px;
  }
  .list-tallas .item-t, .list-colors .item-c{
    width: 8%;
  }
}

@media screen and (max-width: 575.98px) {
  .wrapper-col{
    width: 95%;
  }
  .wrapper-col .products{
    width: 100%;
  }
  .content-prod .item-prod{
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
  }
  .filters{
    display: none;
  }
  .filters{
    position: absolute;
    width: 95%;
    background: #fff;
    border: 1px solid rgb(180,210,230);
    display: none;
  }
  .filter-box{
    display: block;
  }
  .toggle-box{
    display: block;
  }

  .img-prod{
    width: 50%;
    height: 100%;
    float: left;
  }
  .list-tallas .item-t, .list-colors .item-c{
    width: 13%;
    float: left;
    margin-bottom: 10px;
    list-style: none;
  }
  .img-prod img{
    width: 95%;
    height: 100%;
  }
  .wrapper-prod{
    width: 50%;
    margin-top: 0;
    float: right;
  }
  .name-shoe{
  	font-size: 13px;
  }
  .price-shoe{
  	font-size: 18px;
    margin-top: 5px;
  }
  .ide-shoe{
    width: 100%;
    margin-top: 10px;
  }
  .ide-shoe a{
    display: block;
    width: 75%;
    padding: 8px;
    margin: 0 auto;
    text-align: center;
  	color: #fff;
  	font-size: 14px;
  	font-family: 'Basic', sans-serif;
  	text-decoration: none;
    border-radius: 5px;
    background: rgb(10,45,210);
  }
}
