.container-map{
  width: 100%;
  height: 500px;
  margin-top: 85px;
}

.container-map h4{
  padding: 15px;
  text-align: center;
  color: #000;
}

#map{
  width: 100%;
  height: 100%;
  background: rgb(205,205,200);
}

.footer-classic{
  margin-top: 70px;
}

@media screen and (max-width: 575.98px) {
  .container-map{
    width: 100%;
    height: 370px;
    margin-top: 85px;
  }

  .container-map h4{
    font-size: 15px;
  }

  #map{
    width: 100%;
    height: 100%;
    background: rgb(205,205,200);
  }

}
